body, h1, h2, h3, h4, h5, h6{
	font-family: roboto;
	font-weight: 400;
}


.navbar_logo {
	width: 30%;
}
.navbar_logo_image{
	width: 80px;
}
.navbar_logo_image img{
	max-width: 100%;
}

.navbar-expand-lg .navbar-nav {
	flex-direction: row;
	justify-content: right;
	width: 85%;
}

.navbar{
	background: #180040;
}
.navbar-nav{
	color: #e7ecb4;
}

.navbar-dark .navbar-nav .nav-link {
	color: #eef0de;
	margin-left: 15px;
}






/* bannenr section */



.banner_section{
    background-image: url(intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 300px 0;
    position: relative;
    z-index: 9;
}
.banner_section::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    z-index: -1;
}
.banner_caption {
	color: white;
	position: absolute;
	top: 50%;
	left: 0%;
}
.banner_caption h1{}
.banner_caption p {
	color: white;
	width: 80%;
	margin: auto;
}

.banner_button{
    background-color: #4a6faa;
}


/* empty_div */

.empty_div{
	background: rgba(0,0,0);
	padding: 50px 0;
}

/* team section */

.team_section{
    padding: 100px 0;
    background-color: #c6b9e2;
}

.team_heading{
	font-size: 50px;
}
.team_member {
	margin-left: 0%;
	text-align: center;
}
.team_member img {
	width: 180px;
}
.team_member h5 {
	margin-top: 15px;
	margin-bottom: 20px;
}
.team_member p {
	width: 50%;
	margin: auto;
	margin-bottom: 27px;
	font-size: 14px;
}
.team_member .btn{
    background-color: #4a6faa;
}



/* about section */

.about_section {
	padding: 100px 100px;
	background: #ced1da;
}
.about_heading {
	margin-bottom: 50px;
	font-size: 52px;
}
.about_img {
	width: 190px;
	margin-bottom: 20px;
}
.about_img img {
	width: 100%;
}
.details{}
.details ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 35px;
}
p.morgan_details {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 300;
}
.details ul li {
	font-weight: 300;
	line-height: 30px;
}
.about_right {
	margin-left: 40px;
	width: 45%;
}
.about_right h3 {
	margin-bottom: 20px;
	margin-top: 40px;
}
.about_right p {
	font-weight: 300;
}
.about_right p{}
.about_right .heading_p {
	font-size: 20px;
	font-weight: normal;
	color: #4b473f;
}



/* contact section */

input{
margin-top: 10px;
}
.contact_section {
	padding: 50px 0;
	background: #fff5e4;
}
.contact {
	padding: 0 50px;
}
.contact_heading {
	text-align: center;
	margin-bottom: 40px;
	font-size: 45px;
}
.contact_heading h1{ }
b, strong {
	font-weight: 500;
}





/* footer section */

.footer_section {
	background: #3a42c4;
	color: white;
	text-align: center;
	padding: 21px 0;
}
.footer_section p{ 
	margin-bottom: 0;
}
.footer_section p{ }
